@media(max-width:500px){
  .main-novedades{
    article{
      width: 50%;
      h1,h2{
        font-size: 15px;
      }
      p{
        font-size: 10px;
      }
    }
  }
  .div1{
    font-size: 26px;
  }
}