@media(max-width:729px){
  main{
    section{
      height: 80%;
      div{
        font-size: 1.25rem;
        nav{
          a{
            font-size: 1rem;
          }
        }
      }
    }
  }
  .main-sobremi{
    section{
      height: 100%;
      &:last-child{
        div{
          font-size: 15px;
        }
      }
      article{
        font-size: 15px;
      }
    }
  }
  .main-contacto{
    .info{
      font-size: 16px;
    }
  }
}