@media(max-width:452px){
  main{
    height: 45em;
    section{
      height: 70%;
      div{
        font-size: .9375rem;
      }
    }
  }
  header{
    div{
      nav{
        a{
          font-size: .75rem;
        }
      }
    }
  }
  .main-contacto{
    .info{
      font-size: 14px;
      width: 90%;
      display: flex;
      justify-self: center;
    }
    .redes{
      width: 250px;
    }
  }
}