@media(max-width:500px){
  .main-novedades{
    .divisor{
      display: none;
    }
    flex-direction: column;
    article{
      width: 70%;
      h1,h2{
        font-size: 15px;
      }
      p{
        font-size: 10px;
      }
    }
  }
  .div1{
    font-size: 26px;
  }
  .main-sobremi{
    section{
      width: 66%;
    }
  }
}