@media (max-width: 341px) {
  .main-index {
    height: 25em;
  }
  .main-sobremi {
    section {
      article {
        img {
          height: 25%;
        }
      }
    }
  }
  main {
    section {
      height: 100%;
      div {
        font-size: 0.625rem;
      }
    }
  }
  header {
    div {
      nav {
        a {
          font-size: 0.625rem;
        }
      }
    }
  }
  .div1 {
    font-size: 0.9375rem;
  }
}
