@media(max-width:729px){
  main{
    section{
      height: 80%;
      div{
        font-size: 1.25rem;
        nav{
          a{
            font-size: 1rem;
          }
        }
      }
    }
  }
}