main{
  width: 100%;
  color: white;
  section{
    width: 100%;
    height: 100%;
    @include grid(1fr 6.25rem 1fr,500px);
    justify-items: center;
    align-items: center;
    div{
      p{
        strong{
          font-weight: normal;
        }
      }
    }
  }
}