.main-sobremi {
  height: 51.75vh;
  @include grid(repeat(2, 1fr), 1fr);
  justify-content: center;
  section {
    display: flex;
    grid-column: 1/2;
    &:last-child {
      grid-column: 2/3;
      flex-direction: column;
      div {
        text-align: center;
        font-size: 20px;
        height: 50%;
        width: 60%;
        p {
          text-align: justify;
        }
      }
    }
    article {
      width: 100%;
      @include flex(column, center, center, none);
      text-align: center;
      font-size: 20px;
      img {
        height: 100%;
        width: 90%;
        justify-self: start;
      }
    }
  }
}
